extends layout

block content
  div
     table
        thead
           th
              h2= name
           th
              a(href="/categories/add") Add Category
        tbody

  div
      table
         thead
             tr
                th Category
         tbody 
            each row in rows
              tr
                td #{row[1]}

