extends layout

block content

  .report-heading
     span Categories: 
     a(href="/categories/add") Add Category

  div
      table
         thead
             tr
                th Category
         tbody 
            each row in rows
              tr
                td #{row[1]}

