doctype html
html
  head
    title= "The Mission Warehouse"
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    link( rel="preload" href="/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin)
  body(onload="onLoad()")
    .layout-container
       img(src='/images/TMC.png' alt="The Mission Logo")

       div
          h1= "Warehouse Inventory"

          nav
             button(onclick="window.location.href='/items?filter=all'") Items
             button(onclick="window.location.href='/categories'") Categories
             button(onclick="window.location.href='/units'") Units
             button(onclick="window.location.href='/receive/report?interval=30'") Receiving Report
             button(onclick="window.location.href='/ship/report?interval=30'") Shipping Report
             button(onclick="window.location.href='/transfer/report?interval=30'") Transfer Report
             button(onclick="window.location.href='/reports/needToOrder'") Need To Order
     
    block content
