extends layout

block content

  h1= name

     body

         .form
             h2 Receiving Form
             form(action="/receive", method="POST")
                 label(for="item") Enter Item Name
                 input#item(type="text", name="item")
                 label(for="qty") Enter Qty to Receive 
                 input#qty(type="number", name="qty")
                 button(type="submit") Submit


      
