extends layout

block content

  .form-div

      h2= name

      form(action="/units", method="POST")
            ul.form-style
               li
                  label(for="unit") Enter Unit Name
                     span(class="required") *
                  input#unit(type="text", name="unit", autofocus)
               li.button-group
                  button(type="submit") Submit
                  button(type="button" onclick="history.back()") Cancel
 

