extends layout

block content

  .report-heading
     span Units:
     a(href="/units/add") Add Unit

  div
      table
         thead
             tr
                th Unit
         tbody 
            each row in rows
              tr
                td #{row[1]}

