body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.container {
   display: grid;
   width: 100%;
   grid-template-columns: auto auto auto; 
   grid-template-rows: auto; 
   justify-content: start;
   align-content: center;
   background-color: #ecd;
}

div.container img {
   grid-column-start: 1;
   grid-column-end: 1;
   height: 100%;
   background-color: #ecd;
}

div.container p {
   grid-column-start: 2;
   grid-column-end: 3;
   height: 100%;
   background-color: #ecd;
}

nav button {
   margin: 10px;
   color: blue;
}

th {
  text-align: left;
  padding-left: 12px; 
}

td {
  padding-left: 12px; 
}

.form-div {
   display: flex;
   flex-direction: column;
   width: 400px;
   background-color: #ddd;
   align-items: center;
   justify-content: center;
   border-radius: 1em;
}

.form-style-1 {
   margin: 10px auto;
   max-width: 600px;
   padding: 20px 12px 10px 20px;
   font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
  padding: 0;
  display: flex;
  flex-direction: flex-row;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}

.form-style-1 .field-select {
  width: 200px;
}


.form-style-1 button {
    margin-left: 10px;
}

.form-style-1 input[type=text],
.form-style-1 input[type=number],
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
  width: 200px;
  margin-left: 10px;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}

input[type=text]#readonly {
  color: #aaa;
}



.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover {
    background: #4691A4;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shador: none;
}

.form-style-1 .required {
   color: red;
}

.error {
   color: red;
   font-weight: bold;
}


a {
  color: #00B7FF;
}

